div#main{
    background:greenyellow;
    border: 3px solid black;
    padding: 10px;
    margin: auto;
    width: 700px;
}

div#main h1#tilttle {
    color: white;
}

.special{
    color: #cd4f39;
}

.bluecolor{
    color: blue;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

.width-full {
    width: 30% !important;
}

.rounded-2 {
    border-radius: 6px !important;
}